.Table{
    justify-content: center;
    align-items: center;
    width: 80vh !important;
}

.Cell{
    justify-content: center;
    align-items: center;
}

.Filter{
    justify-content: center;
    align-items: center;
}

.ListDescription{
    margin-bottom:3% 
}

/* .SearchBar{
    background-color: blue
} */